*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dc-wrapper{
    background-color: rgb(199, 187, 187);
    box-shadow: 20px 20px 3px black;
    border-radius: 20px;
    height:400px;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dg-clock{
    
    color: white;
    font-size: 150px;
    font-family: 'Syncopate', sans-serif;
}